/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/

/* GENERAL --------------------------- */

body {
    max-width: 700px !important;
    margin: auto;
}


/* ABOUT PAGE -------------------------------------------- */

#tech-stack {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

#tech-stack article {
    flex: 1;
}


/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-ins-color); }
#messages .message.error   { color: var(--pico-del-color); }


/* TASK DISPLAY AND FORM ------------------------------ */

#task-form {
    display: flex;
}

#task-form * {
    height: 100%;
}

#priority {
    width: 40%;
}

.completed {
    color: var(--pico-muted-color);
    text-decoration: line-through;
}